<h2 class="heading-edit mt-2">Sign up</h2>
<div class="reg-form-container">
<div class="star-container">
      <div class="star star1-reg"></div>
      <div class="star star2-reg"></div>
      <div class="star star3-reg"></div>
      <div class="star star4-reg"></div>
      <div class="star star5-reg"></div>
      <div class="star star6-reg"></div>
      <div class="star star7-reg"></div>
      <div class="star star8-reg"></div>
      <div class="star star9-reg"></div>
  </div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true, input_html: { autocomplete: "given-name" } %>
    <%= f.input :last_name, required: true, input_html: { autocomplete: "family-name" } %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "login-button" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
