<div class="list-card">
  <div class="offer-card-info flex-column align-items-center ">
    <div>
      <p><strong>Booking ID:</strong> <%= booking.id %></p>
      <p>Planet: <%= booking.planet.name %></p>
      <p>Status: <%= booking.status %></p>
      <p>Date In: <%= booking.date_in %></p>
      <p>Date Out: <%= booking.date_out %></p>
      <div class="btn my-3 me-2"><%= link_to "Accept", accept_planet_booking_path(booking.planet, booking), data:{turbo_method: :patch, turbo_confirm: :"Accept this offer?"}%></div>
      <div class="btn my-3"><%= link_to "Reject", reject_planet_booking_path(booking.planet, booking), data:{turbo_method: :patch, turbo_confirm: :"Reject this booking?"} %></div>
    </div>
  </div>
</div>
