<div class="list-card">
  <div class="card h-100">
    <div class="card-body d-flex flex-column">
      <p><strong>Booking ID:</strong> <%= booking.id %></p>
      <div class="centered-content">
        <% if planet.image.present? %>
          <img class="dash-image" src="<%= cl_image_path planet.image.key %>" alt="Planet Image" style="width: 200px;">
        <% else %>
          <i class="header-circle"></i>
        <% end %>
      </div>
      <h4 class="card-title"><%= booking.planet.name.upcase %></h4>
      <p class="card-text">
        <strong>Status:</strong> <%= booking.status %><br>
        <strong> Date In:</strong> <%= booking.date_in %><br>
        <strong> Date Out:</strong> <%= booking.date_out %>
      </p>
      <div class="mt-auto">
        <div class="btn text-bg-dark btn-spacing btn-accept">
          <%= link_to "Accept", accept_planet_booking_path(booking.planet, booking), data:{turbo_method: :patch, turbo_confirm: :"Accept this offer?"}%>
        </div>
        <div class="btn text-bg-dark btn-reject">
          <%= link_to "Reject", reject_planet_booking_path(booking.planet, booking), data:{turbo_method: :patch, turbo_confirm: :"Reject this booking?"} %>
        </div>
      </div>
    </div>
  </div>
</div>
