<div class="list-card">
  <div class="card h-100">
    <div class="card-body d-flex flex-column">
      <p><strong>Planet ID:</strong> <%= planet.id %></p>
      <h4 class="card-title">Planet: <%= planet.name %></h4>
      <% if planet.bookings.where(status: ['pending', 'accepted']).exists? %>
        <p>Planet has a pending or accepted status.</p>
      <% else %>
        <p>Planet is available.</p>
      <% end %>
      <div class="d-flex mt-auto">
        <div class="btn text-bg-dark btn-spacing"><%= link_to "Edit", edit_planet_path(planet) %></div>
        <div class="btn text-bg-dark btn-spacing"><%= link_to "Delete", planet_path(planet), method: :delete, data: { confirm: "Are you sure?" } %></div>
        <div class="btn text-bg-dark"><%= link_to "Book planet", new_planet_booking_path(planet) %></div>
      </div>
    </div>
  </div>
</div>
