<div class="list-card">
  <div class="offer-card-info flex-column align-items-center ">
    <div>
      <p><strong>Booking ID:</strong> <%= booking.id %></p>
      <p>Planet: <%= booking.planet.name %></p>
      <p>Status: <%= booking.status %></p>
      <p>Date In: <%= booking.date_in %></p>
      <p>Date Out: <%= booking.date_out %></p>
    </div>
  </div>
</div>
