<div id="<%= dom_id planet %>">

  <% if planet.image.attached? %>
    <%= cl_image_tag planet.image.key, width: 300, height: 300, crop: :fill, alt: planet.name %>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= planet.name %>
  </p>

  <p>
    <strong>Galaxy:</strong>
    <%= planet.galaxy %>
  </p>

  <p>
    <strong>System:</strong>
    <%= planet.system %>
  </p>

  <p>
    <strong>Body type:</strong>
    <%= planet.body_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= planet.description %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= planet.price_per_night %>
  </p>
  </div>

</div>
