<div id="<%= dom_id planet %>">

  <img src=<%= planet.image %> alt="Mercury">
  <p>
    <strong>Name:</strong>
    <%= planet.name %>
  </p>

  <p>
    <strong>Galaxy:</strong>
    <%= planet.galaxy %>
  </p>

  <p>
    <strong>System:</strong>
    <%= planet.system %>
  </p>

  <p>
    <strong>Body type:</strong>
    <%= planet.body_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= planet.description %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= planet.price_per_night %>
  </p>

</div>
