<div id="<%= dom_id planet %>">
  <p>
    <strong>Name:</strong>
    <%= planet.name %>
  </p>

  <p>
    <strong>Glaxy:</strong>
    <%= planet.galaxy %>
  </p>

  <p>
    <strong>System:</strong>
    <%= planet.system %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= planet.description %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= planet.price_per_night %>
  </p>

</div>
