<h2 class="heading-edit mt-2">Log in</h2>
<div class="reg-form-container">
<div class="star-container">
      <div class="star star1-reg"></div>
      <div class="star star2-reg"></div>
      <div class="star star3-reg"></div>
      <div class="star star4-reg"></div>
      <div class="star star5-reg"></div>
      <div class="star star6-reg"></div>
      <div class="star star7-reg"></div>
      <div class="star star8-reg"></div>
      <div class="star star9-reg"></div>
  </div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "login-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
