<h1>Dashboard</h1>
<h1>Welcome, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
<h2>Your Bookings</h2>
<% @bookings.each do |booking| %>
  <p><%= booking.planet.name %>: <%= booking.status %></p>
<% end %>
<h2>Your Planets</h2>
<% @planets.each do |planet| %>
  <p><%= planet.name %></p>
<% end %>
