<!DOCTYPE html>
<html>
  <head>
    <title>PlanetRental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>
<<<<<<< HEAD
  <body class="<%= 'grey-body' if controller_name == 'planets' && action_name == 'index' %>">
    <%= render "shared/navbar" %>
    <div id="main-container">
      <p class="reset notice"><%= notice %></p>
      <p class="reset alert"><%= alert %></p>
=======
  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
>>>>>>> fc7d6296c7118200f729429d4d1cf919875a53a5
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
